<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Unganishwa</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
     {% load staticfiles %}
	 <!-- Base Css Files -->


	<link rel='stylesheet' href='{% static "unganishwa/css/style.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/bootstrap/css/bootstrap.min.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/font-awesome/css/font-awesome.min.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/fontello/css/fontello.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/animate-css/animate.min.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/nifty-modal/css/component.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/magnific-popup/magnific-popup.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/ios7-switch/ios7-switch.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/pace/pace.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/sortable/sortable-theme-bootstrap.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/bootstrap-datepicker/css/datepicker.css" %}' >
	<link rel='stylesheet' href='{% static "unganishwa/libs/jquery-icheck/skins/all.css" %}' >

	 <!-- Code Highlighter for Demo -->
    <link rel='stylesheet' href='{% static "unganishwa/libs/prettify/github.css" %}' >

    <!-- Extra CSS Libraries Start -->
    <link rel='stylesheet' href='{% static "unganishwa/libs/rickshaw/rickshaw.min.css" %}' >
    <link rel='stylesheet' href='{% static "unganishwa/libs/morrischart/morris.css" %}' >
    <link rel='stylesheet' href='{% static "unganishwa/libs/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css" %}' >
    <link rel='stylesheet' href='{% static "unganishwa/libs/jquery-clock/clock.css" %}' >
    <link rel='stylesheet' href='{% static "unganishwa/libs/bootstrap-calendar/css/bic_calendar.css" %}' >
    <link rel='stylesheet' href='{% static "unganishwa/libs/sortable/sortable-theme-bootstrap.css" %}' >
    <link rel='stylesheet' href='{% static "unganishwa/libs/jquery-weather/simpleweather.css" %}' >
    <link rel='stylesheet' href='{% static "unganishwa/libs/bootstrap-xeditable/css/bootstrap-editable.css" %}' >



<body>

   <!-- <h1> Welcome, You can login Here! </h1>  TEST-->
   <!-- We first start to define navbar for Unganishwa Website-->

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>Unganishwa News Aggragator</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Top Stories <span class="sr-only">(current)</span></a></li>
        <li><a href="#" fa fa-circle>World</a></li>
        <li><a href="#">National</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Economy</a></li>
        <li><a href="#">Sport & Games</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Health</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Country <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tanzania</a></li>
            <li><a href="#">Kenya</a></li>
            <li><a href="#">Rwanda</a></li>
            <li><a href="#">Burundi</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>
</html>